[project]
	description = Python interface to the TTVFast library
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Simon Walker (mindriot101)
[access "refs/for/refs/*"]
	read = group user/Simon Walker (mindriot101)
	push = group user/Simon Walker (mindriot101)
	label-Code-Review = -2..+2 group user/Simon Walker (mindriot101)
	label-Verified = -1..+1 group user/Simon Walker (mindriot101)
	rebase = group user/Simon Walker (mindriot101)
	removeReviewer = group user/Simon Walker (mindriot101)
	submit = group user/Simon Walker (mindriot101)
[access "refs/heads/*"]
	read = group user/Simon Walker (mindriot101)
	create = group user/Simon Walker (mindriot101)
	push = +force group user/Simon Walker (mindriot101)
	pushMerge = group user/Simon Walker (mindriot101)
[access "refs/tags/*"]
	push = +force group user/Simon Walker (mindriot101)
	pushTag = group user/Simon Walker (mindriot101)
	pushSignedTag = group user/Simon Walker (mindriot101)
